<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue php dischi</title>

  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

  <div id="app">
    <header>
      <select v-model="genre" @change="fetchData">
        <option disabled value="">Select genre</option>
        <option>Jazz</option>
        <option>Metal</option>
        <option>Pop</option>
        <option>Rock</option>
      </select>
      <span style="color: #fff">{{ genre }}</span>
    </header>

    <div class="container">
      <div class="flex-row">
        <div v-for="album in albums" class="card">
          <div class="img-container">
            <img :src="album.poster">
          </div>
          <div class="title">{{ album.title }}</div>
          <div class="info-box">
            <div class="author">{{ album.author }}</div>
            <div class="year">{{ album.year }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="./js/main.js"></script>
</body>
</html>